.container-educacao {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}

.ifba,
.ufba {
  display: flex;
  align-items: center;
  margin-top: 3rem;

}

.image-campus-ifba {
  width: 45rem;
  height: 30rem;
  margin-left: 2rem;
  background-image: url('../../assets/image/IFBA.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
}


.image-campus-ufba {
  width: 45rem;
  height: 30rem;
  margin-left: 2rem;
  background-image: url('../../assets/image/ufba-entrada.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
}

.info-ifba,
.info-ufba {
  margin-left: 2rem;
  width: 65%;
}

.info-ifba h2,
.info-ufba h2 {
  font-size: 1.8rem;
  display: inline-block;
}

.ifba-local,
.ufba-local {
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #00d2df;
  font-weight: bold;

}

.descricao-ifba,
.descricao-ufba {
  filter: opacity(75%);
  line-height: 1.5;
  margin-bottom: 3rem;
  text-align: justify;
}

.container-button-ifba,
.container-button-ufba {
  margin-left: 3rem;
}