
/* ============================HOME================================ */

.container-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 85%;
}

.home-right{
  position: absolute;
  max-height: 70rem;
  height: 100rem;
  right: 0;
}

.home-left {
  padding: 1rem;
}

.home-left h1 {
  font-size: 1.9rem;
  margin: 1.2rem 0;
}

.home-left span {
  font-size: 4.50rem;
  text-transform: uppercase;
  color: #00d2df;
  font-weight: 600;
  letter-spacing: .8rem;
}

.home-left span::after{
  content: '|';
  margin-left: .5rem;
  opacity: 1;
  animation: piscar .7s infinite;
}

@keyframes piscar{
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}
.container-button {
  display: flex;
  justify-content: start;
  gap: 2rem;
  align-items: center;
  width: 100%;

  padding-top: 1rem;
}



.scroll {
  width: 100%;
  left: 0;
  text-align: center;
  position: absolute;
  bottom: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.scroll p {
  padding: 1rem 0;
  display: inline-block;
}

.scroll img {
  animation: scroll-down 1.5s infinite forwards;
}


@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }

  30% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
}

