
#sobre {
  background: var(--marcacao);
  padding: 8rem 0;
}

.container-sobre {
  width: 90%;
  margin: auto;
}

.container-sobre h1 {
  margin-bottom: 3rem;

}

.container-perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}

.image-perfil img {
  border-left: 5px solid #00d2df;
  filter: opacity(75%);
  transition: 0.4s;

  height: 350px;
}

.image-perfil img:hover {
  filter: opacity(100%);
  border-left: 5px solid rgba(101, 24, 180, 1);
}

.descricao {
  margin-left: 2rem;
  filter: opacity(100%);
}

.descricao h1 {
  margin: 0;

}

.descricao h2 {
  font-size: 1.4rem;
  margin: 1rem 0;
  filter: opacity(75%);

}

.descricao-perfil {
  filter: opacity(75%);
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
}

.recuo {
  text-indent: 2em
}

.vermais a {
  font-size: 20rem;
}

#verMais {
  display: none;
}
